@model PagedList.PagedList<TopMarket.Models.EntityFramework.Blog>
@using PagedList.Mvc
@using PagedList

@{
    ViewBag.Title = "Blog | TopMarket";
}

<link href="~/Content/PagedList.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css" />
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/contact_styles.css" />
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/contact_responsive.css" />

<style>
    .news_section_container {
        margin-top: 180px;
    }

    .row-item-new {
        margin-bottom: 20px;
    }

    .title-news {
        font-size: 24px;
        border-bottom: 1px solid;
        padding: 15px 0;
        margin-bottom: 25px;
    }

    .img-box img {
        max-width: 100%;
        max-height: 100%;
    }

    .blog-image {
        opacity: 1;
        transition: .5s ease;
        backface-visibility: hidden;
    }

    .img-box:hover .blog-image {
        opacity: 0.3;
    }
</style>

<div class="container contact_container">
    <div class="row">
        <div class="col">
            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li class="active">
                        <a href="/blog"><i class="fa fa-angle-right" aria-hidden="true"></i> Blog</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <h1 class="text-center">Blog</h1>

    <div class="products_iso mb-4">
        <h5>Search Blog</h5>
        @using (Html.BeginForm("Index", "Blog", FormMethod.Get))
        {
            <div class="input-group input-group-sm">
                @Html.TextBox("Searchtext", null, new { @class = "form-control", @placeholder = "Enter keyword..." })
                <span class="input-group-append">
                    <button type="submit" class="btn btn-info btn-flat">Search</button>
                </span>
            </div>
        }
    </div>

    <hr />

    @if (Model != null && Model.Any()) {
        foreach (var item in Model) {
            <div class="row row-item-new">
                <div class="col-md-3">
                    <div class="img-box">
                        <a href="/@item.Alias-n@(item.Id)" title="@item.Title">
                            <img class="blog-image img-fluid rounded" src="@item.Image" alt="@item.Title" />
                        </a>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="content-box">
                        <h3>
                            <a href="/@item.Alias-n@(item.Id)" title="@item.Title">@item.Title</a>
                        </h3>
                        <div class="description-box">
                            <h5>@Html.Raw(item.Description)</h5>
                        </div>
                    </div>
                </div>
            </div>
        }

        <div class="row mt-4">
            <div class="col-6"></div>
            <div class="col-6 text-right">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
            </div>
        </div>
    }
</div>
