@model TopMarket.Models.SendCodeViewModel
@{
    ViewBag.Title = "Send";
}

<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>

    @using (Html.BeginForm("SendCode", "Account", new { ReturnUrl = Model.ReturnUrl }, FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("rememberMe", Model.RememberMe)

        <h4>Send verification code</h4>
        <hr />
        @Html.ValidationSummary(string.Empty, new { @class = "text-danger" })

        <div class="row mb-3">
            <div class="col-md-8">
                <label for="SelectedProvider">Select Two-Factor Authentication Provider:</label>
                @Html.DropDownListFor(model => model.SelectedProvider, Model.Providers, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.SelectedProvider, string.Empty, new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <input type="submit" value="Submit" class="btn btn-outline-dark" />
            </div>
        </div>
    }
</main>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
