@model TopMarket.Models.EntityFramework.ProductCategory
@{
    ViewBag.Title = "Add Product Category";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section naviheader{
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button">
                <i class="fas fa-bars"></i>
            </a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/home" class="nav-link">Home</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/productcategory" class="nav-link">Product Category</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/productcategory/add" class="nav-link">@ViewBag.Title</a>
        </li>
    </ul>
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Add Product Category</h1>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">New Product Category</h3>
        </div>
        <div class="card-body">
            <div class="bs-stepper-content">
                @using (Html.BeginForm("Add", "ProductCategory", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })

                    <div id="logins-part" class="content active dstepper-block" role="tabpanel" aria-labelledby="logins-part-trigger">
                        <div class="form-group">
                            <label for="Title">Title</label>
                            @Html.TextBoxFor(x => x.Title, new { @class = "form-control", @placeholder = "Product Category Name", @id = "Title" })
                            @Html.ValidationMessageFor(x => x.Title, null, new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <label for="Alias">Alias</label>
                            @Html.TextBoxFor(x => x.Alias, new { @class = "form-control", @placeholder = "Alias", @id = "Alias" })
                            @Html.ValidationMessageFor(x => x.Alias, null, new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <label for="txtImage">Image</label>
                            <div class="input-group">
                                <div class="custom-file">
                                    @Html.TextBoxFor(x => x.Icon, new { @id = "txtImage", @class = "form-control" })
                                </div>
                                <div class="input-group-append">
                                    <input type="button" value="Upload Image" onclick="BrowseServer('txtImage');" />
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <a href="/admin/productcategory" class="btn btn-danger">Back</a>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="card-footer"></div>
    </div>
</section>

@section scripts{
    <script>
        function BrowseServer(field) {
            var finder = new CKFinder();
            finder.selectActionFunction = function (fileUrl) {
                document.getElementById(field).value = fileUrl;
            };
            finder.popup();
        }
    </script>
}
