@model IEnumerable<TopMarket.Models.ShoppingCartItem>
@using TopMarket.Common

<table class="table table-bordered table-hover">
    <thead class="thead-light text-center">
        <tr>
            <th>#</th>
            <th>Product Image</th>
            <th>Product Name</th>
            <th>Category</th>
            <th>Price</th>
            <th style="width:100px;">Quantity</th>
            <th>Total Price</th>
            <th style="width:200px;">Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any()) {
            var i = 0;
            var totalPrice = decimal.Zero;

            foreach (var item in Model) {
                totalPrice += item.TotalPrice;
                <tr class="text-center" id="trow_@item.ProductId">
                    <td>@(++i)</td>
                    <td><img src="@item.ProductImg" alt="@item.ProductName" width="60" /></td>
                    <td>
                        <a href="/product-detail/@item.Alias-p@(item.ProductId)">
                            @item.ProductName
                        </a>
                    </td>
                    <td>@item.CategoryName</td>
                    <td>@Common.FormatNumber(item.Price, 0)</td>
                    <td>
                        <input type="number" class="form-control text-center" id="Quantity_@item.ProductId" value="@item.Quantity" min="1" />
                    </td>
                    <td>@Common.FormatNumber(item.TotalPrice, 2)</td>
                    <td>
                        <a href="#" data-id="@item.ProductId" class="btn btn-sm btn-danger btnDelete">Delete</a>
                        <a href="#" data-id="@item.ProductId" class="btn btn-sm btn-success btnUpdate">Update</a>
                    </td>
                </tr>
            }

            <tr>
                <th colspan="6" class="text-right">Total Price:</th>
                <th class="text-center">@Common.FormatNumber(totalPrice, 0)</th>
                <th></th>
            </tr>
        } else {
            <tr>
                <td colspan="8" class="text-center text-muted">Your cart is empty!</td>
            </tr>
        }
    </tbody>
</table>
